<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <ion-img src="../../assets/slack.png"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="9" class="center">
          <ion-title class="title">Amazing Application</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid size-sm="12" size-md="12" size-lg="6" size-xl="6">
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="" src="../../assets/dog-8198719_1920.jpg" />
          <ion-card-header>
            <ion-card-title>Dog</ion-card-title>
            <ion-card-subtitle>Just a dog</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut commodi veritatis quod quasi.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="" src="../../assets/green-sea-turtle-8199770_1280.jpg" />
          <ion-card-header>
            <ion-card-title>Turtle</ion-card-title>
            <ion-card-subtitle>Haha pagong</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut commodi veritatis quod quasi.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="" src="../../assets/child-8228075_1920.jpg"/>
          <ion-card-header>
            <ion-card-title>Bata</ion-card-title>
            <ion-card-subtitle>Bata sa bintana</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut commodi veritatis quod quasi.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="" src="../../assets/pile-1651945_1920.jpg" />
          <ion-card-header>
            <ion-card-title>Cool Animals</ion-card-title>
            <ion-card-subtitle>woah amazing</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut commodi veritatis quod quasi.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>footer ano pa ba?</ion-title>
  </ion-toolbar>
</ion-footer>