<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">image here</ion-col>
        <ion-col size="9"><ion-title>Amazing Application</ion-title></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>