h1 {
  text-align: center;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.div-img{
  justify-content: center;
  align-items: center;
  display:flex;
  padding-top:20%;
}

.hover{
  transition: transform .2s;
}
.hover:hover{
  transform:scale(2.5);
}