<ion-content>
  <div class="class container_flex">
    <div class="class facebook-page-flex">
      <div class="class text">
        <h1>facebook</h1>
        <p>Connect with friends and the world</p>
      </div>
      <form action="#">
        <ion-input type="email" placeholder="Email or phone number" required="true"></ion-input>
        <ion-input type="password" placeholder="Password" required="true"></ion-input>
        <div class="class link">
          <ion-button type="submit" class="login">Login</ion-button>
          <a href="#" class="forgot"></a>
        </div>
      </form>
    </div>
  </div>
</ion-content>